* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    width: 100vw;
    padding: 0 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 1em 0;
    text-align: center;
    vertical-align: middle;
    width: 15em;
    background-color: var(--secondary-color);
    color: var(--main-color);
    font-size: 2em;
}

#container {
    width: fit-content;
    background-color: var(--main-color);
    border-spacing: 0;
}

#container >tbody :nth-child(even) :nth-child(odd), tbody :nth-child(odd) :nth-child(even) {
    background-color: var(--secondary-color);
}

td {
    width: 5em;
    height: 5em;
}