<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        :root {
            --main-color: {{mainColor}};
            --secondary-color: {{secondaryColor}};
        }
    </style>
</head>
<body>
    <div id="content">
        <h1>***Checkerboard***</h1>
        <table id="container">
            {% for a in range(x): %}
                <tr>
                {% for b in range(y): %}
                    <td></td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>